body{
  background-color: linen;
  margin-right:290px;
  margin-left:180px;
  }
.hi{
    color:#25C4F6;
  }

.hi2 {
  color: #272A28;
  margin-left: 5px;
  font-size: 36px;
  }
.hi3{
  color:red;
}
#hello{
  width:200px;
  height:100px;
  background-color:#F4F5F6;          
  padding:15px;
  margin:2px;
  text-align: center;
    }
a {
  color: black;
  }

a:hover{
  color:orange;
  }